Homebus.pages/
Source/rWerkstattplan.h
USB_Stepper.xcodeproj/
Source/rWerkstattplan.m
designable.nib
keyedobjects.nib
applet.*
main.scpt
applet
Makefile
build/*
*.eep
*.elf
*.lss
*.lst
*.map
*.sym
*.xcodeproj
*.hex
*.o
usb_rawhid.lst
usb_rawhid.o
Makefile
build
CNC.xcodeproj
Info.plist
applet
PkgInfo
main.scpt
applet.icns
applet.rsrc
TXT.rtf
Hallo.sh
AVR_Tem.c
teensy_loader_cli
teensy_loader_cli.c
Teensy_Loader.scpt
runavarice.sh
README.md